flp21-fun
FLP-2022-fun.pdf
FLP-2022-general.pdf
TIN-studijni-text.pdf
test.hs
flp-fun-xsovam00.zip

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
